table td {
  text-align: left;
  vertical-align: top; }

table {
  border-top-width: 0px; }
  
/*Taustan v‰rityksen muuttaminen*/
  body {
  color: #0073b0;
  font-family: 'Open Sans', Arial, sans-serif;
  background: #fafafa;
}

/*Sivupalkin v‰rityksen muuttaminen*/
#maptools {
    background-color: #0073b0 !important;
    height: 100%;
    position: absolute;
    top: 0;
    width: 153px;  
    z-index: 2;
}

/*Kuvan lis‰‰minen sivupalkkiin*/
#tk-logo {
				height:183px;
				width:100px;
				margin-left:15px;
				margin-top:5px;
				padding-bottom:5px;
				background:url("/Oskari/applications/tk/servlet/images/tk_m_white_100x143.png") no-repeat;
				cursor:pointer;
			}  
							
<div id="tk-logo">
        <img src="/Oskari/applications/tk/servlet/images/tk_m_white_100x143.png" alt="TK" width="153" height="76">
    </div> 
	
	
/* flyout toolbar */
.oskari-flyoutheading {
  background-color: #0073b0 !important; /*uusi v‰ri*/
  border-top: 1px solid #ffdf00;
  border-bottom: 1px solid #ebb819;
  height: 14px;
  width: 100%; }
.oskari-flyouttoolbar {
  height: 57px;
  width: 100%;
  background-color: #cce3ef !important; /*uusi v‰ri*/
  border-top: #fdfdfd;
  border-bottom: #fef2ba; }
